<!-- templates/security/login.html.twig -->

<style>
    .login-container {
        max-width: 300px;
        margin: 40px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
    }

    .btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #337ab7;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #23527c;
    }
</style>

<div class="login-container">
    <div class="login-logo">
        <img src="{{ asset('images/logo.png') }}" alt="Logo">
    </div>
    <h1 class="login-title">Log in</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <div class="register-link">
        <p>vous souhaiter s'inscrire ? <a href="{{ path('app_register') }}">Sign up</a></p>
    </div>
</div>